body{
    background-image: url(images/WhatsApp\ Image\ 2024-08-10\ at\ 8.35.25\ PM\ \(2\).jpeg);
    font-family: Arial, Helvetica, sans-serif;
    color: darkorange;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-align: center;
    color: darkorange;
}
p{
    text-align: center;
    font-size: xx-large;
}
.mem{
    display: flex;
    justify-content: space-around;
}
h1{
    text-align: center;
}
li{
    list-style: circle;
}
@media (width <700px ){
    body{
        background-size: 100;
    }
}
    @media (height >700px){
        body{
            background-size: 100;
        }
    }
    @media (height >1000px){
        body{
            background-size: 100vh;
        }
    }
    @media (height =915px){
        body{
            background-size: 100vmax;
        }
    }
    