* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h2{
    font-size: x-large;
    text-align: center;
    color: darkgoldenrod;
}
.acti{
    font-size: x-large;
    text-align: center;
    color: white;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: relative ;
}

.nav_bar {
    color: white;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
    font-size: large;
    font-style: oblique;
    cursor: pointer;
}

h1 {
    text-align: start;
    color: darkorange;
}

.word {
    color: darkorange;
    font-weight: bold;
    font-size: 35px;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: navy;
    background-image: url(images/WhatsApp\ Image\ 2024-08-10\ at\ 8.35.25\ PM\ \(2\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 1000;
}

main {
    display: flex;
}


.header-right {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: flex-end;
}

img {
    max-height: 80px;
    border-radius: 50%;
    width: 100px;
}

.container-left,
.container-right {
    flex: 1;
}
.apply{
    cursor: pointer;
    width: 150px;
    height: 3rem;
    border-radius: 20px;
    color: darkorange;
    background-color: black;
    font-style: oblique;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
.report{
    display: block;
    margin: auto;
    cursor: pointer;
    width: 150px;
    height: 3rem;
    border-radius: 20px;
    color: darkorange;
    background-color: black;
    font-style: oblique;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(7, 4, 0);
}

br {
    font: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: aliceblue;
}

.lead {
    color: darkorange;
    text-decoration: wavy;
    justify-content: center;

}

span {
    color: gold;
}

.full-space {
    display: flex;
    justify-content: space-around;
}

@media (width <720px) {
    h2{
        text-align: start;
        padding-left: 10px;
    }
    body{
        background-size: 100vh;
    }
    .acti{
        color: darkorange;
        text-align: start;
        padding-left: 10px;
    }
    .container-left{
     justify-content: start;
    }
    .wrap{
        visibility: visible;
        cursor: pointer;
    }

    .close{
        visibility: hidden;
        position: absolute;

    }
    .min{
        visibility: hidden;
    }
     .lead{
       display: none;
     }
    main {
        flex-direction: column;
        align-items: start;
    }

    .nav_bar {
        display:none;
    }
    
    .nav-active{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        width: 70%;
        padding: 10px;
        visibility: visible;
        background-color: black;
    }

    .close-active{
        visibility: visible;
    }
    .word{
        font-size: x-large;
    }
    .hamburger-inactive{
        visibility: hidden;
    }
    .nav-active li {
        height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header-right {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20px;
        margin-bottom: 20px;
        width: 45%;

    }

}

@media (height >700px) {
    main {
        font-size: x-large;
    }

}

@media (height >1000px) {
    body {
        background-size: 100vh;
    }
}